# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.14.1/
.idea/libraries/
.idea/workspace.xml
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.0/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/rs/
app/build/intermediates/symbols/androidTest/
build/generated/
